{% extends 'base3.html' %}
{%block title%} {%endblock%}
{%block content%}

<div class="container">
  <form action="/edit/{{isn}}" method="POST" enctype="multipart/form-data">
    <div class="form-row" padding="20px">
      <div class="form-group col-md-6">
        <label for="inputPassword4"><b>TITLE</b></label>
        <input type="text" class="form-control" id="inputPassword4" name="Title" placeholder="Title" required>
      </div>
    </div>
    <div class="form-group ">
      <label for="inputAddress"><b>UNIT ALLOTMENT</b> </label>
      <input type="number" class="form-control" id="inputAddress" name="unit" placeholder="123" required>
    </div>
    <div> <b>Type</b> <br> <br>
      <input type="radio" id="Journals" name="type" value="Journals">
      <label for="male">Journals</label><br>
      <input type="radio" id="Magazines" name="type" value="Magazines">
      <label for="female">Magazines</label><br>
      <input type="radio" id="Periodicals" name="type" value="Periodicals">
      <label for="other">Periodicals</label>
    </div>

    <div class="form-group">
      <label for="inputAddress2"><b>DATE</b></label>
      <input type="date" class="input-group date" name='date' id="inputAddress2" required>
    </div>

    <div class="form-group ">
      <label for="inputAddress"><b>PRICE</b> </label>
      <input type="number" class="form-control" id="inputAddress" name='Price' placeholder="₹123" required>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" name="pic"
          aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>

    <!--<form action="/upload" method="POST" enctype="multipart/form-data">
    <label class="form-label" for="customFile">Default file input example</label>
    <input type="file" class="form-control" id="customFile" name="pic"/>
    <!--<button type="submit" >Upload image</button>-->
    <!--</form>-->
    <button type="submit" class="btn btn-primary btn-lg btn-block" style="background:#0095B6">UPDATE AND SAVE</button>

  </form>
  {{return_}}
</div>
{{msg}}
{%endblock%}